SYSTEM.DIALOG.ACTIVEPAGENUM=0;
SYSTEM.DIALOG.CLOSEPROMPT=0;
SYSTEM.DIALOG.SAVEONCLOSE=1;
SYSTEM.EXCEL.OPENASEXCEL=1;
SYSTEM.EXCEL.OPENASPROMPT=1;
SYSTEM.EXCEL.DLGPLOT=0;
SYSTEM.EXCEL.PLOTMULTI=0;
SYSTEM.EXCEL.LEGENDTXTSEL=0;
SYSTEM.EXCEL.SAVEASEXCEL=0;
SYSTEM.EXCEL.CLOSEAFTERPLOT=0;
SYSTEM.EXCEL.DRAGDROPPLOT=4;
SYSTEM.OPERATIONS.USESPACER=1;
SYSTEM.OPERATIONS.INPLACE=0;
SYSTEM.AXIS.COLOR=0;
SYSTEM.AXIS.OLDDIALOG=0;
SYSTEM.AXIS.WIDTH=1.5;
SYSTEM.AXIS.USEUPDATEDLG=1;
SYSTEM.COPYPAGE.CLIPBORDERW=5;
SYSTEM.COPYPAGE.CLOSENESS=2;
SYSTEM.COPYPAGE.PREVIEW=0;
SYSTEM.COPYPAGE.RATIO=40;
SYSTEM.COPYPAGE.REDRAW=1;
SYSTEM.COPYPAGE.ADVANCED=1;
SYSTEM.COPYPAGE.ADVKEEPSIZE=1;
SYSTEM.COPYPAGE.ADVRES=300;
SYSTEM.COPYPAGE.AREAINDICATOR=1;
SYSTEM.DASH.DEFINE1$=5;
SYSTEM.DASH.DEFINE2$=20 22;
SYSTEM.DASH.DEFINE3$=5 20;
SYSTEM.DASH.DEFINE4$=24 12 5 12;
SYSTEM.DASH.DEFINE5$=18 12 5 12 5 12;
SYSTEM.DASH.DEFINE6$=9 10;
SYSTEM.DASH.DEFINE7$=3 6;
SYSTEM.DASH.DEFINE8$=15 8 3 8;
SYSTEM.DASH.HATCHGAP=20;
SYSTEM.DASH.HATCHWIDTH=0;
SYSTEM.DASH.SCALEBYWIDTH=1;
SYSTEM.DASH.SOFTINPGVIEW=1;
SYSTEM.DATE.CUSTOMFORMAT1$=M'-'d'-'yyyy;
SYSTEM.DATE.CUSTOMFORMAT2$=hh':'mm':'ss'.'####;
SYSTEM.DATE.COLDEFFMT$="";
SYSTEM.DISPLAY.BALLOONHELP=1;
SYSTEM.DISPLAY.NOWINUPDATE=70;
SYSTEM.DISPLAY.PASTEMETA=1;
SYSTEM.DISPLAY.SELBLINK=1;
SYSTEM.DISPLAY.WKSGRIDNOSHOW=0;
SYSTEM.DISPLAY.DISPLAYBITMAP=1;
SYSTEM.DISPLAY.USELONGNAMES=1;
SYSTEM.DISPLAY.AUTOUPDATEPAGENAME=0;
SYSTEM.DISPLAY.AUTOUPDATECOLUMNNAME=0;
SYSTEM.DISPLAY.AUTOUPDATEOLELINKS=1;
SYSTEM.DISPLAY.COLLAPSIBLEMENUS=1;
SYSTEM.FONT.DEFAULT$=Arial;
SYSTEM.FONT.GREEKNAME$=Symbol;
SYSTEM.FONT.HORZEDIT=1;
SYSTEM.FONT.LABELCOLOR=0;
SYSTEM.FONT.LABELNAME$=Default: Arial;
SYSTEM.FONT.LABELSIZE=22;
SYSTEM.FONT.LINESPACE=10;
SYSTEM.FONT.NOIPEDIT=0;
SYSTEM.FONT.ANCHORONTEXTFRAME=1;
SYSTEM.FONT.POSJUSTIFY=17;
SYSTEM.FONT.UNITS=3;
SYSTEM.FONT.STATES=0;
SYSTEM.FONT.POSX=0/0;
SYSTEM.FONT.POSY=0/0;
SYSTEM.FONT.PAGEVIEWACCURATE=1;
SYSTEM.FONT.SIMPLESELECT=0;
SYSTEM.FONT.SUBOFFSET=38;
SYSTEM.FONT.SUBSIZE=68;
SYSTEM.FONT.SUPOFFSET=26;
SYSTEM.FONT.TABSIZE=8;
SYSTEM.FONT.ROTATION=0;
SYSTEM.FONT.TEXTCNTRL=0;
SYSTEM.FONT.VERBATIM=0;
SYSTEM.FONT.JUSTIFY=17;
SYSTEM.FONT.SHADOWSTYLE=0;
SYSTEM.FONT.FILLCOLOR=-4;
SYSTEM.FONT.BORDERWIDTH=0;
SYSTEM.FONT.BORDERCOLOR=-4;
SYSTEM.FONT.SHADOWWIDTH=0;
SYSTEM.FONT.SHADOWCOLOR=-9;
SYSTEM.FONT.MARGINLEFT=12.4;
SYSTEM.FONT.MARGINRIGHT=12.4;
SYSTEM.FONT.MARGINTOP=12.4;
SYSTEM.FONT.MARGINBOTTOM=12.4;
SYSTEM.FONT.TRANSPARENCY=0;
SYSTEM.TIMESTAMP.LABELCOLOR=0;
SYSTEM.TIMESTAMP.LABELNAME$=Default: Arial;
SYSTEM.TIMESTAMP.LABELSIZE=22;
SYSTEM.TIMESTAMP.TABSIZE=8;
SYSTEM.TIMESTAMP.ROTATION=0;
SYSTEM.TIMESTAMP.TEXTCNTRL=0;
SYSTEM.TIMESTAMP.VERBATIM=0;
SYSTEM.TIMESTAMP.JUSTIFY=17;
SYSTEM.TIMESTAMP.SHADOWSTYLE=0;
SYSTEM.TIMESTAMP.FILLCOLOR=-4;
SYSTEM.TIMESTAMP.BORDERWIDTH=0;
SYSTEM.TIMESTAMP.BORDERCOLOR=-4;
SYSTEM.TIMESTAMP.SHADOWWIDTH=0;
SYSTEM.TIMESTAMP.SHADOWCOLOR=-9;
SYSTEM.TIMESTAMP.MARGINLEFT=12.4;
SYSTEM.TIMESTAMP.MARGINRIGHT=12.4;
SYSTEM.TIMESTAMP.MARGINTOP=12.4;
SYSTEM.TIMESTAMP.MARGINBOTTOM=12.4;
SYSTEM.TIMESTAMP.TRANSPARENCY=0;
SYSTEM.TIMESTAMP.STATES=0;
SYSTEM.TIMESTAMP.UNITS=3;
SYSTEM.TIMESTAMP.ANCHORONTEXTFRAME=0;
SYSTEM.TIMESTAMP.POSJUSTIFY=0;
SYSTEM.TIMESTAMP.POSX=0/0;
SYSTEM.TIMESTAMP.POSY=0/0;
SYSTEM.GRAPH.BARSHOWZERO=0;
SYSTEM.GRAPH.BISECTIONPTS=500;
SYSTEM.GRAPH.CLOSELAYPRT=1;
SYSTEM.GRAPH.CLOSEPROMPT=1;
SYSTEM.GRAPH.DEFTEMPLATE$=ORIGIN;
SYSTEM.GRAPH.DISPLAYCHAR=0;
SYSTEM.GRAPH.FILLCOLOR=17;
SYSTEM.GRAPH.LOG1ISFLOOR=0;
SYSTEM.GRAPH.PERCINTERP=1;
SYSTEM.GRAPH.DEFPLOTXY$=XY1;
SYSTEM.GRAPH.SPEEDMODESHOWWATERMARK=1;
SYSTEM.GRAPH.ANTIALIASING=7;
SYSTEM.GRID.MAJORCOLOR=0;
SYSTEM.GRID.MAJORTYPE=0;
SYSTEM.GRID.MAJORWIDTH=0.5;
SYSTEM.GRID.MINORCOLOR=0;
SYSTEM.GRID.MINORTYPE=2;
SYSTEM.GRID.MINORWIDTH=0.3;
SYSTEM.MATH.ANGULARUNITS=0;
SYSTEM.MATRIX.DEFTEMPLATE$=ORIGIN;
SYSTEM.NOTES.CLOSEPROMPT=1;
SYSTEM.NOTES.SIZECOLS=80;
SYSTEM.NOTES.SIZEROWS=30;
SYSTEM.DIALOGPAGES.CLOSEPROMPT=1;
SYSTEM.NUMERIC.NUMDECDIGITS=5;
SYSTEM.NUMERIC.NUMSIGDIGITS=6;
SYSTEM.NUMERIC.USESIGDIGITS=0;
SYSTEM.NUMERIC.NUMDECDIGITSRPT=5;
SYSTEM.NUMERIC.NUMSIGDIGITSRPT=6;
SYSTEM.NUMERIC.USESIGDIGITSRPT=0;
SYSTEM.NUMERIC.SEPARATORS=0;
SYSTEM.NUMERIC.SIGDIGITSL=-3;
SYSTEM.NUMERIC.SIGDIGITSU=6;
SYSTEM.NUMERIC.IMPORTSEPARATOR=0;
SYSTEM.NUMERIC.FORMULASMARTFUNCARGSEP=1;
SYSTEM.NUMERIC.SCRIPTSMARTFUNCARGSEP=0;
SYSTEM.PAGE.AXISSPACING=20;
SYSTEM.PAGE.OBJSPACING=20;
SYSTEM.PATH.ASCII$=C:\Users\User\Desktop\origin\;
SYSTEM.PATH.EXCEL$=C:\Users\User\Desktop\origin\;
SYSTEM.PATH.ORIGIN$=C:\Users\User\Desktop\origin\;
SYSTEM.PATH.TEMPLATE$=C:\Users\User\Desktop\origin\;
SYSTEM.PATH.SAVEPATH=0;
SYSTEM.PATH.Link$="";
SYSTEM.PRINT.LANDSCAPE=2;
SYSTEM.PRINT.FONTBASELINE=1;
SYSTEM.PRINT.PRINTCONTROL=0;
SYSTEM.PRINT.XSCALEFACTOR=1000;
SYSTEM.PRINT.YSCALEFACTOR=1000;
SYSTEM.PRINT.KEEPDEVCOLOR=0;
SYSTEM.PRINT.SIMPDEVCOLOR=0;
SYSTEM.PRINT.SKIPPLOTPOINT=0;
SYSTEM.PRINT.MAXPLOTPOINTS=300;
SYSTEM.PRINT.MATRIXDATASKIP=0;
SYSTEM.PRINT.MATRIXDATAMAXX=32;
SYSTEM.PRINT.MATRIXDATAMAXY=32;
SYSTEM.PROJECT.BACKUP=1;
SYSTEM.PROJECT.STARTUP=1;
SYSTEM.PROJECT.OPENINFOLDER=1;
SYSTEM.PROJECT.ICONIZEDASHIDDEN=2;
SYSTEM.PROJECT.SHOWINDATALIST=0;
SYSTEM.PROJECT.SHOWINNLSFDATALIST=0;
SYSTEM.PROJECT.VIEWWINDOWS=1;
SYSTEM.PROJECT.AUTOSAVEON=1;
SYSTEM.PROJECT.AUTOSAVETIME=12;
SYSTEM.PROJECT.AUTOSAVEUNSAVED=0;
SYSTEM.PROJECT.NOASKAUTOSAVE=0;
SYSTEM.PROJECT.NOAUTOSAVEWITHSIZE=0;
SYSTEM.SCRIPT.CLOSEPROMPT=0;
SYSTEM.SYMBOL.BORDERWIDTH=15;
SYSTEM.SYMBOL.LINEGAP=30;
SYSTEM.TICK.GAPAXTITLE=100;
SYSTEM.TICK.GAPINSIDE=110;
SYSTEM.TICK.GAPOUTSIDE=70;
SYSTEM.TICK.LABELCOLOR=0;
SYSTEM.TICK.ZEROIS0=0;
SYSTEM.TICK.NOTRAILINGZERO=0;
SYSTEM.TICK.LOG1AS10E=1;
SYSTEM.TICK.AXISUNIT=-1;
SYSTEM.TICK.SCIDISPLAY=0;
SYSTEM.TICK.SCISIGN=2;
SYSTEM.TICK.CUSTOMAXISUNIT$="";
SYSTEM.TICK.MAXNUMERIC=20;
SYSTEM.TICK.MAXT=400;
SYSTEM.TICK.MINORLEN=50;
SYSTEM.TICK.MINMAJOR=6.5;
SYSTEM.NETWORK.PROXY$="";
SYSTEM.WKS.AUTODELCOL=1;
SYSTEM.WKS.CLOSEPROMPT=1;
SYSTEM.WKS.CLOSEMATPRT=1;
SYSTEM.WKS.CLOSEEXLPRT=1;
SYSTEM.WKS.SHEETCLOSEPROMPT=1;
SYSTEM.WKS.DEFTEMPLATE$=ORIGIN;
SYSTEM.WKS.IMPTEMPLATE$=ORIGIN;
SYSTEM.WKS.NUMERICDATA=0;
SYSTEM.WKS.TRANSPDELEMPTYCOLS=1;
SYSTEM.FOOTEFONTRATIO.FOOTEFONTRATIO=100;
SYSTEM.LEGEND.LABELCOLOR=0;
SYSTEM.LEGEND.LABELNAME$=Default: Arial;
SYSTEM.LEGEND.LABELSIZE=22;
SYSTEM.LEGEND.ANCHORONTEXTFRAME=1;
SYSTEM.LEGEND.POSJUSTIFY=17;
SYSTEM.LEGEND.UNITS=3;
SYSTEM.LEGEND.STATES=0;
SYSTEM.LEGEND.POSX=0/0;
SYSTEM.LEGEND.POSY=0/0;
SYSTEM.LEGEND.TABSIZE=8;
SYSTEM.LEGEND.ROTATION=0;
SYSTEM.LEGEND.TEXTCNTRL=0;
SYSTEM.LEGEND.VERBATIM=0;
SYSTEM.LEGEND.JUSTIFY=17;
SYSTEM.LEGEND.SHADOWSTYLE=0;
SYSTEM.LEGEND.FILLCOLOR=17;
SYSTEM.LEGEND.BORDERWIDTH=0.5;
SYSTEM.LEGEND.BORDERCOLOR=0;
SYSTEM.LEGEND.SHADOWWIDTH=0;
SYSTEM.LEGEND.SHADOWCOLOR=-9;
SYSTEM.LEGEND.MARGINLEFT=12.4;
SYSTEM.LEGEND.MARGINRIGHT=12.4;
SYSTEM.LEGEND.MARGINTOP=12.4;
SYSTEM.LEGEND.MARGINBOTTOM=12.4;
SYSTEM.LEGEND.TRANSPARENCY=0;
